@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--gradient: oklch(95.64% 0.1428 104.94);
		--background: oklch(99.76% 0.0102 106.58);
		--foreground: oklch(8.91% 0.0012 106.64);

		--muted: oklch(94.27% 0.0025 106.45);
		--muted-foreground: oklch(53.71% 0.0077 106.66);

		--popover: oklch(96.62% 0.0274 106.90);
		--popover-foreground: oklch(9.60% 0.0013 106.64);

		--card: oklch(98.75% 0.0654 107.54);
		--card-start-bg: oklch(96.62% 0.0274 106.90);
		--card-foreground: oklch(9.60% 0.0013 106.64);

		--border: oklch(89.74% 0.1520 93.52);
		--input: oklch(92.87% 0.0067 106.53);

		--primary: oklch(83.28% 0.1716 82.06);
		--primary-foreground: oklch(94.09% 0.0005 106.41);

		--secondary: oklch(89.19% 0.1573 97.72);
		--secondary-foreground: oklch(24.39% 0.0044 106.72);

		--subprimary: oklch(78.09% 0.1554 108.51);
		--sub-primary-foreground: oklch(9.60% 0.0013 106.64);

		--special: oklch(63.00% 0.2556 28.98);
		--special-foreground: oklch(9.60% 0.0013 106.64);
		--special-text: oklch(83.28% 0.1716 82.06);

		--accent: oklch(97.09% 0.0006 106.41);
		--accent-foreground: oklch(24.39% 0.0044 106.72);

		--destructive: oklch(43.19% 0.1391 25.17);
		--destructive-foreground: oklch(98.48% 0.0000 89.88);

		--ring: oklch(48.78% 0.0772 108.95);
		--colortext: oklch(28.57% 0.0071 95.31);

		--radius: 0.05rem;
		--table-bg: oklch(91.05% 0.1443 95.33);
		--sidebar-background: oklch(98.25% 0.0961 108.04);
		--sidebar-foreground: oklch(25.82% 0.0207 107.76);
		--sidebar-primary: oklch(48.78% 0.2170 264.39);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(92.28% 0.1446 98.12);
		--sidebar-accent-foreground: oklch(21.96% 0.0154 107.60);
		--sidebar-border: oklch(27.41% 0.0055 286.03);
		--sidebar-ring: oklch(62.32% 0.1879 259.80);
	}

	.leaflight {
		--gradient: oklch(64.539% 0.16189 143.941);
		--background: oklch(96.81% 0.0114 81.51);
		--foreground: oklch(29.82% 0.0406 29.21);

		--muted: oklch(94.26% 0.0094 73.14);
		--muted-foreground: oklch(44.84% 0.0498 39.21);

		--popover: oklch(96.81% 0.0114 81.51);
		--popover-foreground: oklch(29.82% 0.0406 29.21);

		--card: oklch(96.81% 0.0114 81.51);
		--card-start-bg: oklch(96.81% 0.0114 81.51);
		--card-foreground: oklch(29.82% 0.0406 29.21);

		--border: oklch(87.86% 0.0206 76.53);
		--input: oklch(87.86% 0.0206 76.53);

		--primary: oklch(52.42% 0.1311 144.26);
		--primary-foreground: oklch(100.00% 0.0000 89.88);

		--secondary: oklch(96.07% 0.0207 147.84);
		--secondary-foreground: oklch(43.46% 0.1219 144.29);

		--subprimary: oklch(57.99% 0.1397 144.09);
		--sub-primary-foreground: oklch(100.00% 0.0000 89.88);

		--special: oklch(66.97% 0.1610 144.09);
		--special-foreground: oklch(100.00% 0.0000 89.88);
		--special-text: oklch(52.42% 0.1311 144.26);

		--accent: oklch(90.05% 0.0500 146.04);
		--accent-foreground: oklch(43.46% 0.1219 144.29);

		--destructive: oklch(54.18% 0.1900 27.03);
		--destructive-foreground: oklch(100.00% 0.0000 89.88);

		--ring: oklch(52.42% 0.1311 144.26);
		--colortext: oklch(29.82% 0.0406 29.21);

		--table-bg: oklch(90.05% 0.0500 146.04);
		--sidebar-background: oklch(94.26% 0.0094 73.14);
		--sidebar-foreground: oklch(29.82% 0.0406 29.21);
		--sidebar-primary: oklch(52.42% 0.1311 144.26);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(90.05% 0.0500 146.04);
		--sidebar-accent-foreground: oklch(43.46% 0.1219 144.29);
		--sidebar-border: oklch(87.86% 0.0206 76.53);
		--sidebar-ring: oklch(52.42% 0.1311 144.26);

		--chart-1: oklch(66.97% 0.1610 144.09);
		--chart-2: oklch(57.99% 0.1397 144.09);
		--chart-3: oklch(52.42% 0.1311 144.26);
		--chart-4: oklch(43.46% 0.1219 144.29);
		--chart-5: oklch(21.83% 0.0498 145.24);

		--font-sans: Montserrat, sans-serif;
		--font-serif: Merriweather, serif;
		--font-mono: Source Code Pro, monospace;

	}

	.forest {
		--gradient: oklch(64.54% 0.1784 148.80);
		--background: oklch(13.11% 0.0160 57.13);
		--foreground: oklch(96.19% 0.0000 89.88);

		--muted: oklch(26.97% 0.0000 89.88);
		--muted-foreground: oklch(71.19% 0.0129 286.07);

		--popover: oklch(20.44% 0.0000 89.88);
		--popover-foreground: oklch(96.19% 0.0000 89.88);

		--card: oklch(21.52% 0.0062 48.42);
		--card-start-bg: oklch(16.17% 0.0073 48.25);
		--card-foreground: oklch(96.19% 0.0000 89.88);

		--border: oklch(39.23% 0.0768 153.22);
		--input: oklch(39.23% 0.0768 153.22);

		--primary: oklch(64.54% 0.1784 148.80);
		--primary-foreground: oklch(26.64% 0.0628 152.95);

		--secondary: oklch(68.38% 0.2021 140.77);
		--secondary-foreground: oklch(32.28% 0.0833 151.44);

		--subprimary: oklch(72.39% 0.1592 158.90);
		--sub-primary-foreground: oklch(32.12% 0.0933 146.63);

		--special: oklch(62.91% 0.1739 23.53);
		--special-foreground: oklch(71.19% 0.0129 286.07);
		--special-text: oklch(97.34% 0.0483 140.46);

		--accent: oklch(26.85% 0.0063 34.30);
		--accent-foreground: oklch(98.48% 0.0000 89.88);

		--destructive: oklch(39.59% 0.1331 25.72);
		--destructive-foreground: oklch(97.10% 0.0127 17.38);

		--ring: oklch(52.71% 0.1371 150.05);
		--colortext: oklch(96.19% 0.0000 89.88);

		--table-bg: oklch(13.09% 0.0022 17.44);
		--sidebar-background: oklch(21.03% 0.0059 285.88);
		--sidebar-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-primary: oklch(48.78% 0.2170 264.39);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(27.41% 0.0055 286.03);
		--sidebar-accent-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-border: oklch(27.41% 0.0055 286.03);
		--sidebar-ring: oklch(62.32% 0.1879 259.80);
	}

	.popsicle {
		--gradient: oklch(77.85% 0.1335 9.59);
		--background: oklch(97.30% 0.0095 316.58);
		--foreground: oklch(36.68% 0.0298 259.85);

		--muted: oklch(95.26% 0.0290 307.43);
		--muted-foreground: oklch(55.17% 0.0209 264.39);

		--popover: oklch(100.00% 0.0000 89.88);
		--popover-foreground: oklch(36.68% 0.0298 259.85);

		--card: oklch(100.00% 0.0000 89.88);
		--card-start-bg: oklch(100.00% 0.0000 89.88);
		--card-foreground: oklch(36.68% 0.0298 259.85);

		--border: oklch(90.93% 0.0495 305.73);
		--input: oklch(90.93% 0.0495 305.73);

		--primary: oklch(70.42% 0.1632 293.26);
		--primary-foreground: oklch(100.00% 0.0000 89.88);

		--secondary: oklch(90.93% 0.0495 305.73);
		--secondary-foreground: oklch(45.21% 0.0297 258.37);

		--subprimary: oklch(54.19% 0.2475 292.84);
		--sub-primary-foreground: oklch(100.00% 0.0000 89.88);

		--special: oklch(61.02% 0.2198 292.47);
		--special-foreground: oklch(100.00% 0.0000 89.88);
		--special-text: oklch(70.42% 0.1632 293.26);

		--accent: oklch(93.68% 0.0308 322.22);
		--accent-foreground: oklch(36.68% 0.0298 259.85);

		--destructive: oklch(81.10% 0.0991 19.44);
		--destructive-foreground: oklch(100.00% 0.0000 89.88);

		--ring: oklch(70.42% 0.1632 293.26);
		--colortext: oklch(36.68% 0.0298 259.85);

		--table-bg: oklch(90.93% 0.0495 305.73);
		--sidebar-background: oklch(90.93% 0.0495 305.73);
		--sidebar-foreground: oklch(36.68% 0.0298 259.85);
		--sidebar-primary: oklch(70.42% 0.1632 293.26);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(93.68% 0.0308 322.22);
		--sidebar-accent-foreground: oklch(36.68% 0.0298 259.85);
		--sidebar-border: oklch(90.93% 0.0495 305.73);
		--sidebar-ring: oklch(70.42% 0.1632 293.26);

		--chart-1: oklch(70.42% 0.1632 293.26);
		--chart-2: oklch(61.02% 0.2198 292.47);
		--chart-3: oklch(54.19% 0.2475 292.84);
		--chart-4: oklch(48.67% 0.2400 292.12);
		--chart-5: oklch(42.98% 0.2113 292.19);

		/* --font-sans: Open Sans, sans-serif;
		--font-serif: Source Serif 4, serif;
		--font-mono: IBM Plex Mono, monospace; */
	}

	.lollipop {
		--gradient: oklch(77.85% 0.1335 9.59);

		--background: oklch(11.12% 0.0147 4.62);
		--foreground: oklch(99.13% 0.0006 4.33);

		--muted: oklch(33.01% 0.0942 13.04);
		--muted-foreground: oklch(64.95% 0.0266 5.38);

		--popover: oklch(0.00% 0.0000 0.00);
		--popover-foreground: oklch(99.13% 0.0006 4.33);

		--card: oklch(15.60% 0.0374 9.09);
		--card-start-bg: oklch(15.69% 0.0097 5.92);
		--card-foreground: oklch(99.13% 0.0006 4.33);

		--border: oklch(33.01% 0.0942 13.04);
		--input: oklch(33.01% 0.0942 13.04);

		--primary: oklch(64.37% 0.2159 16.81);
		/* --primary: -11 100% 78%; */
		--primary-foreground: oklch(18.69% 0.0067 5.25);

		--secondary: oklch(77.49% 0.1365 9.04);
		--secondary-foreground: oklch(99.13% 0.0006 4.33);

		--subprimary: oklch(82.52% 0.1083 345.61);
		--sub-primary-foreground: oklch(99.13% 0.0006 4.33);

		--special: oklch(69.78% 0.2001 310.71);
		--special-foreground: oklch(99.13% 0.0006 4.33);
		--special-text: oklch(93.31% 0.0459 313.95);

		--accent: oklch(33.01% 0.0942 13.04);
		--accent-foreground: oklch(99.13% 0.0006 4.33);

		--destructive: oklch(39.59% 0.1331 25.72);
		--destructive-foreground: oklch(99.13% 0.0006 4.33);

		--ring: oklch(77.49% 0.1365 9.04);
		--colortext: oklch(96.19% 0.0000 89.88);

		--table-bg: oklch(10.14% 0.0270 354.07);
		--sidebar-background: oklch(21.03% 0.0059 285.88);
		--sidebar-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-primary: oklch(48.78% 0.2170 264.39);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(27.41% 0.0055 286.03);
		--sidebar-accent-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-border: oklch(27.41% 0.0055 286.03);
		--sidebar-ring: oklch(62.32% 0.1879 259.80);
	}

	.dew {
		--gradient: oklch(0.72 0.12 210.36);
		--background: oklch(0.95 0.01 196.81);
		--foreground: oklch(0.38 0.06 211.49);

		--muted: oklch(0.97 0.01 247.91);
		--muted-foreground: oklch(0.55 0.04 256.40);

		--popover: oklch(0.97 0.01 196.81);
		--popover-foreground: oklch(0.38 0.06 211.49);

		--card: oklch(0.97 0.01 196.81);
		--card-start-bg: oklch(0.97 0.01 196.81);
		--card-foreground: oklch(0.38 0.06 211.49);

		--border: oklch(0.93 0.01 256.71);
		--input: oklch(0.93 0.01 256.71);

		--primary: oklch(0.72 0.12 210.36);
		--primary-foreground: oklch(1.00 0 0);

		--secondary: oklch(0.97 0.01 247.91);
		--secondary-foreground: oklch(0.14 0 0);

		--subprimary: oklch(0.79 0.12 209.45);
		--sub-primary-foreground: oklch(1.00 0 0);

		--special: oklch(0.76 0.11 208.70);
		--special-foreground: oklch(1.00 0 0);
		--special-text: oklch(0.72 0.12 210.36);

		--accent: oklch(0.96 0.02 204.34);
		--accent-foreground: oklch(0.57 0.10 213.73);

		--destructive: oklch(0.64 0.21 25.39);
		--destructive-foreground: oklch(1.00 0 0);

		--ring: oklch(0.72 0.12 210.36);
		--colortext: oklch(0.38 0.06 211.49);

		--table-bg: oklch(0.98 0 0);
		--sidebar-background: oklch(0.98 0 0);
		--sidebar-foreground: oklch(0.14 0 0);
		--sidebar-primary: oklch(0.72 0.12 210.36);
		--sidebar-primary-foreground: oklch(1.00 0 0);
		--sidebar-accent: oklch(0.96 0.02 204.34);
		--sidebar-accent-foreground: oklch(0.57 0.10 213.73);
		--sidebar-border: oklch(0.93 0.01 256.71);
		--sidebar-ring: oklch(0.72 0.12 210.36);

		--chart-1: oklch(0.72 0.12 210.36);
		--chart-2: oklch(0.57 0.10 213.73);
		--chart-3: oklch(0.79 0.12 209.45);
		--chart-4: oklch(0.76 0.11 208.70);
		--chart-5: oklch(0.83 0.10 208.33);

		/* --font-sans: Inter, sans-serif;
		--font-serif: Lora, serif;
		--font-mono: Roboto Mono, monospace; */
	}

	.serene {
		--gradient: oklch(66.09% 0.1131 191.01);

		--background: oklch(13.54% 0.0151 206.19);
		--foreground: oklch(97.56% 0.0015 209.46);

		--muted: oklch(42.29% 0.0735 214.59);
		--muted-foreground: oklch(63.94% 0.0224 209.44);

		--popover: oklch(20.06% 0.0303 210.39);
		--popover-foreground: oklch(97.56% 0.0015 209.46);

		--card: oklch(20.06% 0.0303 210.39);
		--card-start-bg: oklch(16.63% 0.0076 209.46);
		--card-foreground: oklch(97.56% 0.0015 209.46);

		--border: oklch(42.30% 0.0735 214.59);
		--input: oklch(42.30% 0.0735 214.59);

		--primary: oklch(66.48% 0.1171 215.70);
		--primary-foreground: oklch(97.56% 0.0015 209.46);

		--secondary: oklch(78.46% 0.1325 181.99);
		--secondary-foreground: oklch(97.92% 0.0012 58.35);

		--subprimary: oklch(77.31% 0.1535 163.22);
		--sub-primary-foreground: oklch(97.56% 0.0015 209.46);

		--special: oklch(75.37% 0.1389 232.59);
		--special-foreground: oklch(97.56% 0.0015 209.46);
		--special-text: oklch(93.13% 0.0327 272.26);

		--accent: oklch(42.29% 0.0735 214.59);
		--accent-foreground: oklch(97.56% 0.0015 209.46);

		--destructive: oklch(39.59% 0.1331 25.72);
		--destructive-foreground: oklch(97.56% 0.0015 209.46);

		--ring: oklch(60.11% 0.1056 215.50);
		--colortext: oklch(96.19% 0.0000 89.88);

		--table-bg: oklch(12.46% 0.0176 203.88);
		--sidebar-background: oklch(21.03% 0.0059 285.88);
		--sidebar-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-primary: oklch(48.78% 0.2170 264.39);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(27.41% 0.0055 286.03);
		--sidebar-accent-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-border: oklch(27.41% 0.0055 286.03);
		--sidebar-ring: oklch(62.32% 0.1879 259.80);
	}

	.sunset {
		--gradient: oklch(64.46% 0.1883 43.76);

		--background: oklch(14.32% 0.0189 65.60);
		--foreground: oklch(97.92% 0.0012 58.35);

		--muted: oklch(26.36% 0.0396 55.61);
		--muted-foreground: oklch(63.94% 0.0217 57.89);

		--popover: oklch(23.51% 0.0489 54.16);
		--popover-foreground: oklch(97.92% 0.0012 58.35);

		--card: oklch(23.51% 0.0489 54.16);
		--card-start-bg: oklch(16.31% 0.0072 57.75);
		--card-foreground: oklch(97.92% 0.0012 58.35);

		--border: oklch(39.97% 0.1027 49.07);
		--input: oklch(39.97% 0.1027 49.07);

		--primary: oklch(64.86% 0.1850 45.13);
		--primary-foreground: oklch(97.92% 0.0012 58.35);

		--subprimary: oklch(97.69% 0.1350 108.66);
		--sub-primary-foreground: oklch(97.92% 0.0012 58.35);

		--secondary: oklch(71.74% 0.1686 51.13);
		--secondary-foreground: oklch(97.92% 0.0012 58.35);

		--special: oklch(62.36% 0.2503 22.06);
		--special-foreground: oklch(97.92% 0.0012 58.35);
		--special-text: oklch(95.15% 0.0263 46.56);

		--accent: oklch(26.36% 0.0396 55.61);
		--accent-foreground: oklch(97.92% 0.0012 58.35);

		--destructive: oklch(39.59% 0.1331 25.72);
		--destructive-foreground: oklch(97.92% 0.0012 58.35);

		--ring: oklch(64.86% 0.1850 45.13);
		--colortext: oklch(96.19% 0.0000 89.88);

		--table-bg: oklch(13.74% 0.0244 75.48);
		--sidebar-background: oklch(21.03% 0.0059 285.88);
		--sidebar-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-primary: oklch(48.78% 0.2170 264.39);
		--sidebar-primary-foreground: oklch(100.00% 0.0000 89.88);
		--sidebar-accent: oklch(27.41% 0.0055 286.03);
		--sidebar-accent-foreground: oklch(96.76% 0.0013 286.38);
		--sidebar-border: oklch(27.41% 0.0055 286.03);
		--sidebar-ring: oklch(62.32% 0.1879 259.80);
	}

}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	/* 
	::-webkit-scrollbar {
		width: 1px;
	}

	::-webkit-scrollbar-track {
		background: var(--background);
	}

	::-webkit-scrollbar-thumb {
		background: var(--primary);
		border: none;
	} */

	input[type="date"]::-webkit-calendar-picker-indicator {
		background-color: #e4f7ff;
		border: 2px solid var(--primary);
		border-radius: 0.25rem;
		padding: 0.25rem;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		cursor: pointer;
	}

}

/* @layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hidden {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
} */